-- MySQL dump 10.16  Distrib 10.1.21-MariaDB, for Win32 (AMD64)
--
-- Host: localhost    Database: localhost
-- ------------------------------------------------------
-- Server version	10.1.21-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cabang`
--

DROP TABLE IF EXISTS `cabang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cabang` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_cabang` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nama gerai, misal: Cabang Pusat Sudirman',
  `alamat` text COLLATE utf8mb4_unicode_ci,
  `telepon` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '1=aktif, 0=nonaktif, 8=hapus',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master data gerai / outlet';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cabang`
--

LOCK TABLES `cabang` WRITE;
/*!40000 ALTER TABLE `cabang` DISABLE KEYS */;
INSERT INTO `cabang` VALUES (1,'gor','jl kampung melayu','082195816734','',1,'2026-06-04 17:13:58','2026-07-10 15:18:24',1,1),(2,'perimeter','jl. perimeter utara','0121442121','',1,'2026-06-04 17:14:24','2026-07-10 15:18:24',1,1),(3,'plonco','jl plonco','02325444','',1,'2026-06-04 17:14:46','2026-07-10 15:18:24',1,1);
/*!40000 ALTER TABLE `cabang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_penjualan`
--

DROP TABLE IF EXISTS `detail_penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_penjualan` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_penjualan` int(10) unsigned NOT NULL,
  `id_produk` int(10) unsigned NOT NULL,
  `id_harga_paten` int(10) unsigned DEFAULT NULL COMMENT 'Referensi ke harga_paten.id saat transaksi (snapshot reference)',
  `jumlah_beli` decimal(15,3) NOT NULL DEFAULT '1.000',
  `harga_satuan` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Snapshot harga jual saat transaksi',
  `subtotal` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'jumlah_beli ├ù harga_satuan',
  `diskon` decimal(15,2) NOT NULL DEFAULT '0.00',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_detail_penjualan` (`id_penjualan`),
  KEY `fk_detail_produk` (`id_produk`),
  CONSTRAINT `fk_detail_penjualan` FOREIGN KEY (`id_penjualan`) REFERENCES `penjualan` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_detail_produk` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Rincian item per nota transaksi penjualan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_penjualan`
--

LOCK TABLES `detail_penjualan` WRITE;
/*!40000 ALTER TABLE `detail_penjualan` DISABLE KEYS */;
INSERT INTO `detail_penjualan` VALUES (1,1,1,3,1.000,16000.00,16000.00,0.00,NULL,0,'2026-07-09 21:00:16',NULL,1,1),(2,2,2,5,1.000,5000.00,5000.00,0.00,NULL,0,'2026-07-10 15:54:30',NULL,6,6),(3,2,1,2,1.000,16000.00,16000.00,0.00,NULL,0,'2026-07-10 15:54:30',NULL,6,6),(4,3,2,6,1.000,5000.00,5000.00,0.00,NULL,0,'2026-07-10 15:55:22',NULL,1,1),(5,3,1,3,1.000,16000.00,16000.00,0.00,NULL,0,'2026-07-10 15:55:22',NULL,1,1);
/*!40000 ALTER TABLE `detail_penjualan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `harga_paten`
--

DROP TABLE IF EXISTS `harga_paten`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `harga_paten` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cabang` int(10) unsigned NOT NULL COMMENT 'Harga bisa berbeda antar cabang',
  `id_produk` int(10) unsigned NOT NULL COMMENT 'FK ke produk dengan kategori produk_jadi',
  `nama_menu` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nama tampilan menu, misal: Mie Ayam Bakso Spesial',
  `harga_jual_paten` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Pagu harga jual tetap ke pelanggan',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '1=aktif, 0=nonaktif, 8=hapus',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_harga_paten_cabang_produk` (`id_cabang`,`id_produk`),
  KEY `idx_harga_paten_cabang_status` (`id_cabang`,`status`),
  KEY `fk_harga_paten_produk` (`id_produk`),
  CONSTRAINT `fk_harga_paten_cabang` FOREIGN KEY (`id_cabang`) REFERENCES `cabang` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_harga_paten_produk` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Menu paten dengan harga jual tetap ├╣ pagu harga untuk kasir';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `harga_paten`
--

LOCK TABLES `harga_paten` WRITE;
/*!40000 ALTER TABLE `harga_paten` DISABLE KEYS */;
INSERT INTO `harga_paten` VALUES (1,1,1,'Mie Ayam Original',16000.00,NULL,1,'2026-07-09 20:55:04',NULL,1,1),(2,2,1,'Mie Ayam Original',16000.00,NULL,1,'2026-07-09 20:55:04',NULL,1,1),(3,3,1,'Mie Ayam Original',16000.00,NULL,1,'2026-07-09 20:55:04',NULL,1,1),(4,1,2,'Esteh',5000.00,NULL,1,'2026-07-09 21:05:17',NULL,1,1),(5,2,2,'Esteh',5000.00,NULL,1,'2026-07-09 21:05:17',NULL,1,1),(6,3,2,'Esteh',5000.00,NULL,1,'2026-07-09 21:05:17',NULL,1,1);
/*!40000 ALTER TABLE `harga_paten` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori`
--

DROP TABLE IF EXISTS `kategori`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis` enum('bahan_baku','setengah_jadi','produk_jadi') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'bahan_baku' COMMENT 'Jenis kategori untuk logika sistem resep dan stok',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Kategori produk: Bahan Baku, Setengah Jadi, Produk Jadi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori`
--

LOCK TABLES `kategori` WRITE;
/*!40000 ALTER TABLE `kategori` DISABLE KEYS */;
INSERT INTO `kategori` VALUES (1,'Produk Jadi','produk_jadi',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(2,'Bahan Baku','bahan_baku',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(3,'Setengah Jadi','setengah_jadi',NULL,8,'2026-06-04 16:37:18','2026-07-09 18:36:30',0,NULL),(4,'Minuman','produk_jadi',NULL,8,'2026-06-04 16:37:18','2026-07-09 18:36:34',0,NULL),(5,'Topping','bahan_baku',NULL,8,'2026-06-04 16:37:18','2026-07-09 18:36:25',0,NULL);
/*!40000 ALTER TABLE `kategori` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kategori_operasional`
--

DROP TABLE IF EXISTS `kategori_operasional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kategori_operasional` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_kategori` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Kategori jenis pengeluaran operasional';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kategori_operasional`
--

LOCK TABLES `kategori_operasional` WRITE;
/*!40000 ALTER TABLE `kategori_operasional` DISABLE KEYS */;
INSERT INTO `kategori_operasional` VALUES (1,'Gaji Karyawan',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(2,'Listrik',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(3,'Air / PDAM',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(4,'Sewa Tempat',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(5,'Gas LPG',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(6,'Peralatan',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(7,'Promosi / Iklan',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL),(8,'Lain-lain',NULL,1,'2026-06-04 16:37:18',NULL,0,NULL);
/*!40000 ALTER TABLE `kategori_operasional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengeluaran_operasional`
--

DROP TABLE IF EXISTS `pengeluaran_operasional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pengeluaran_operasional` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cabang` int(10) unsigned NOT NULL,
  `id_kat_operasional` int(10) unsigned NOT NULL,
  `tanggal` date NOT NULL,
  `nama_pengeluaran` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Deskripsi singkat, misal: Bayar Listrik Juni',
  `total_biaya` decimal(15,2) NOT NULL DEFAULT '0.00',
  `bukti_pembayaran` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Path file bukti (foto/scan)',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_pengeluaran_cabang_tgl` (`id_cabang`,`tanggal`),
  KEY `fk_pengeluaran_kat_ops` (`id_kat_operasional`),
  CONSTRAINT `fk_pengeluaran_cabang` FOREIGN KEY (`id_cabang`) REFERENCES `cabang` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_pengeluaran_kat_ops` FOREIGN KEY (`id_kat_operasional`) REFERENCES `kategori_operasional` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Transaksi pengeluaran operasional per cabang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengeluaran_operasional`
--

LOCK TABLES `pengeluaran_operasional` WRITE;
/*!40000 ALTER TABLE `pengeluaran_operasional` DISABLE KEYS */;
INSERT INTO `pengeluaran_operasional` VALUES (1,2,8,'2026-07-09','dqqdw',10000.00,'','-',0,'2026-07-09 21:04:41',NULL,1,1);
/*!40000 ALTER TABLE `pengeluaran_operasional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penjualan`
--

DROP TABLE IF EXISTS `penjualan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penjualan` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cabang` int(10) unsigned NOT NULL,
  `id_user` int(11) NOT NULL COMMENT 'FK ke users.id ΓÇö kasir yang melayani transaksi',
  `no_nota` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Nomor nota otomatis: TRX-[CABANG]-[YYYYMMDD]-[SEQ]',
  `tanggal_transaksi` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `total_bayar` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Total harga jual (pendapatan)',
  `total_diskon` decimal(15,2) NOT NULL DEFAULT '0.00',
  `bayar` decimal(15,2) NOT NULL DEFAULT '0.00' COMMENT 'Uang yang diserahkan pelanggan',
  `kembalian` decimal(15,2) NOT NULL DEFAULT '0.00',
  `metode_bayar` enum('tunai','qris','transfer','lainnya') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'tunai',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1' COMMENT '1=selesai, 8=void/dibatalkan',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `no_nota` (`no_nota`),
  KEY `idx_penjualan_cabang_tgl` (`id_cabang`,`tanggal_transaksi`),
  KEY `fk_penjualan_user` (`id_user`),
  CONSTRAINT `fk_penjualan_cabang` FOREIGN KEY (`id_cabang`) REFERENCES `cabang` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_penjualan_user` FOREIGN KEY (`id_user`) REFERENCES `users` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Header nota transaksi penjualan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjualan`
--

LOCK TABLES `penjualan` WRITE;
/*!40000 ALTER TABLE `penjualan` DISABLE KEYS */;
INSERT INTO `penjualan` VALUES (1,2,1,'TRX-2-20260709-0001','2026-07-09 16:00:16',16000.00,0.00,16000.00,0.00,'tunai','',0,'2026-07-09 21:00:16',NULL,1,1),(2,2,6,'TRX-2-20260710-0001','2026-07-10 10:54:30',21000.00,0.00,21000.00,0.00,'tunai','',0,'2026-07-10 15:54:30',NULL,6,6),(3,1,1,'TRX-1-20260710-0001','2026-07-10 10:55:22',21000.00,0.00,21000.00,0.00,'tunai','',0,'2026-07-10 15:55:22',NULL,1,1);
/*!40000 ALTER TABLE `penjualan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produk`
--

DROP TABLE IF EXISTS `produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produk` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_kategori` int(10) unsigned NOT NULL,
  `id_satuan` int(10) unsigned NOT NULL,
  `nama_produk` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `kode_produk` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'SKU / kode internal opsional',
  `stok_minimum` decimal(15,3) NOT NULL DEFAULT '0.000' COMMENT 'Batas minimum untuk peringatan stok',
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_produk_kategori` (`id_kategori`),
  KEY `fk_produk_satuan` (`id_satuan`),
  CONSTRAINT `fk_produk_kategori` FOREIGN KEY (`id_kategori`) REFERENCES `kategori` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_produk_satuan` FOREIGN KEY (`id_satuan`) REFERENCES `satuan` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master item: bahan baku, setengah jadi, dan produk jadi';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produk`
--

LOCK TABLES `produk` WRITE;
/*!40000 ALTER TABLE `produk` DISABLE KEYS */;
INSERT INTO `produk` VALUES (1,1,6,'Mie Ayam Original','B-0001',1.000,'',0,'2026-07-09 20:55:04',NULL,1,1),(2,1,6,'Esteh','M-0001',1.000,'',0,'2026-07-09 21:05:17',NULL,1,1);
/*!40000 ALTER TABLE `produk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_menu_access`
--

DROP TABLE IF EXISTS `role_menu_access`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `role_menu_access` (
  `role_id` int(11) NOT NULL,
  `menu_id` int(11) NOT NULL,
  PRIMARY KEY (`role_id`,`menu_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_menu_access`
--

LOCK TABLES `role_menu_access` WRITE;
/*!40000 ALTER TABLE `role_menu_access` DISABLE KEYS */;
/*!40000 ALTER TABLE `role_menu_access` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `roles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(50) NOT NULL,
  `status` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'Admin',0),(2,'Staff',0),(3,'Owner',0),(4,'Admin Cabang',0),(5,'Kasir',0);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `satuan`
--

DROP TABLE IF EXISTS `satuan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `satuan` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `nama_satuan` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'Misal: Gram, Pcs, Porsi, Botol, Liter',
  `singkatan` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL COMMENT 'Misal: g, pcs, prs, btl, ltr',
  `status` tinyint(4) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Master satuan ukuran produk';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `satuan`
--

LOCK TABLES `satuan` WRITE;
/*!40000 ALTER TABLE `satuan` DISABLE KEYS */;
INSERT INTO `satuan` VALUES (1,'Porsi','prs',1,'2026-06-04 16:37:18',NULL,0,NULL),(2,'Gram','g',1,'2026-06-04 16:37:18',NULL,0,NULL),(3,'Kilogram','kg',1,'2026-06-04 16:37:18',NULL,0,NULL),(4,'Liter','ltr',1,'2026-06-04 16:37:18',NULL,0,NULL),(5,'Mililiter','ml',1,'2026-06-04 16:37:18',NULL,0,NULL),(6,'Pcs','pcs',1,'2026-06-04 16:37:18',NULL,0,NULL),(7,'Botol','btl',1,'2026-06-04 16:37:18',NULL,0,NULL),(8,'Bungkus','bks',1,'2026-06-04 16:37:18',NULL,0,NULL),(9,'Mangkok','mgk',1,'2026-06-04 16:37:18',NULL,0,NULL),(10,'Lusin','lsn',1,'2026-06-04 16:37:18',NULL,0,NULL);
/*!40000 ALTER TABLE `satuan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_menus`
--

DROP TABLE IF EXISTS `system_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `system_menus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `url` varchar(150) NOT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `order_num` int(11) DEFAULT '0',
  `parent_id` int(11) DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `status` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_menus`
--

LOCK TABLES `system_menus` WRITE;
/*!40000 ALTER TABLE `system_menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `system_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) DEFAULT '2',
  `status` tinyint(1) NOT NULL DEFAULT '0',
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `name` varchar(100) NOT NULL,
  `id_cabang` int(10) unsigned DEFAULT NULL COMMENT 'NULL hanya untuk role owner (akses semua cabang)',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  `created_by` int(11) NOT NULL DEFAULT '0',
  `updated_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `fk_users_cabang` (`id_cabang`),
  CONSTRAINT `fk_users_cabang` FOREIGN KEY (`id_cabang`) REFERENCES `cabang` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-10 15:57:52
